In [1]:
import pandas as pd
import sqlite3

## create a connection to the database using the library sqlite3

In [2]:
db_connection = sqlite3.connect('../data/checking-logs.sqlite')

## using only one query for each of the groups create two dataframes: test_results and control_results with the columns time and avg_diff and only two rows
- time should have values: after and before
- avg_diff contains the average difference among all the users for the time period before each of them made their first visit to the page and after it
- take into account only the users that have observations before and after

In [122]:
query = '''
with test_users as (
select
    uid
from
    (select distinct
        uid,
        case
            when checker_ts > first_view_ts then
                'after'
            else 'before'
        end time
    from test)
group by uid
having count(time) >= 2)
select
    case
        when checker_ts > first_view_ts then
            'after'
        else 'before'
    end time,
    avg(cast((-JulianDay(test.checker_ts) + (JulianDay(test.first_view_ts))) * 24 as Integer)) avg_diff
from test
where uid in test_users
group by time

'''

In [123]:
test_results = pd.io.sql.read_sql(query, db_connection)

In [124]:
test_results

     time    avg_diff
0   after -368.800000
1  before  155.421053

In [125]:
query = '''
with control_users as (
select
    uid
from
    (select distinct
        uid,
        case
            when checker_ts > first_view_ts then
                'after'
            else 'before'
        end time
    from control)
group by uid
having count(time) >= 2)
select
    case
        when checker_ts > first_view_ts then
            'after'
        else 'before'
    end time,
    avg(cast((-JulianDay(checker_ts) + (JulianDay(first_view_ts))) * 24 as Integer)) avg_diff
from control
where uid in control_users
group by time

'''

In [126]:
control_results = pd.io.sql.read_sql(query, db_connection)

In [127]:
control_results

     time    avg_diff
0   after -329.630435
1  before  104.689655

## we still do not use the lab 'project1'

In [128]:
query = '''
with test_users as (
select
    uid
from
    (select distinct
        uid,
        case
            when checker_ts > first_view_ts then
                'after'
            else 'before'
        end time
    from test)
group by uid
having count(time) >= 2)
select
    case
        when checker_ts > first_view_ts then
            'after'
        else 'before'
    end time,
    avg(cast((-JulianDay(test.checker_ts) + (JulianDay(test.first_view_ts))) * 24 as Integer)) avg_diff
from test
where
    uid in test_users and
    labname != 'project1'
group by time

'''

In [129]:
test_results = pd.io.sql.read_sql(query, db_connection)

In [130]:
test_results

     time  avg_diff
0   after -371.7500
1  before  181.3125

In [131]:
query = '''
with control_users as (
select
    uid
from
    (select distinct
        uid,
        case
            when checker_ts > first_view_ts then
                'after'
            else 'before'
        end time
    from control)
group by uid
having count(time) >= 2)
select
    case
        when checker_ts > first_view_ts then
            'after'
        else 'before'
    end time,
    avg(cast((-JulianDay(checker_ts) + (JulianDay(first_view_ts))) * 24 as Integer)) avg_diff
from control
where
    uid in control_users and
    labname != 'project1'
group by time

'''

In [132]:
control_results = pd.io.sql.read_sql(query, db_connection)

In [133]:
control_results

     time    avg_diff
0   after -323.606061
1  before  100.035714