In [1]:
import pandas as pd

##  create a dataframe viewss with two columns: datetime and user by reading feed-viewss.log

In [129]:
header = ['datetime', 'user']

In [130]:
views = pd.read_csv('../data/feed-views.log',
            delimiter='\t',
            names=header,
            )

In [131]:
views['datetime'] = pd.to_datetime(views['datetime'])

In [132]:
views['year'] = views['datetime'].dt.year
views['month'] = views['datetime'].dt.month
views['day'] = views['datetime'].dt.day
views['hour'] = views['datetime'].dt.hour
views['minute'] = views['datetime'].dt.minute
views['second'] = views['datetime'].dt.second

In [133]:
views.sample(5)

,datetime,user,year,month,day,hour,minute,second
920,2020-05-14 22:56:13.947200,ekaterina,2020,5,14,22,56,13
887,2020-05-14 22:26:22.514838,ekaterina,2020,5,14,22,26,22
307,2020-05-10 01:50:55.510693,konstantin,2020,5,10,1,50,55
617,2020-05-12 21:25:47.203575,pavel,2020,5,12,21,25,47
873,2020-05-14 22:08:45.906080,pavel,2020,5,14,22,8,45

## create the new column daytime

In [134]:
views['hours_minutes_secs'] = views['hour'] * 3600 + views['minute'] * 60 + views['second']

In [135]:
hour = 3600

In [136]:
daytime_intervals = [i * hour for i in (0, 4, 7, 11, 17, 20, 24)]
daytime_names = ['night', 'early morning', 'morning', 'agternoon', 
                 'early evening', 'evening']

In [142]:
views['daytime'] = pd.cut(views['hours_minutes_secs'], daytime_intervals,
                          labels=daytime_names,
                          right=True,
                          include_lowest=False)

In [143]:
views = views.set_index('user')

KeyError: "None of ['user'] are in the columns"

In [144]:
views.head()

,datetime,year,month,day,hour,minute,second,hours_minutes_secs,daytime
user,,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,43268,agternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,43283,agternoon
artem,2020-04-17 12:27:30.646665,2020,4,17,12,27,30,44850,agternoon
artem,2020-04-17 12:35:44.884757,2020,4,17,12,35,44,45344,agternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,45352,agternoon

## calculate the number of elements in your dataframe

In [145]:
views.count()

datetime              1076
year                  1076
month                 1076
day                   1076
hour                  1076
minute                1076
second                1076
hours_minutes_secs    1076
daytime               1076
dtype: int64

In [146]:
views['daytime'].value_counts()

evening          509
agternoon        252
early evening    145
night            129
morning           36
early morning      5
Name: daytime, dtype: int64

In [147]:
views.query('daytime == "early morning"')

,datetime,year,month,day,hour,minute,second,hours_minutes_secs,daytime
user,,,,,,,,,
konstantin,2020-05-10 04:08:53.496691,2020,5,10,4,8,53,14933,early morning
konstantin,2020-05-10 04:09:13.217556,2020,5,10,4,9,13,14953,early morning
konstantin,2020-05-10 04:09:36.095652,2020,5,10,4,9,36,14976,early morning
konstantin,2020-05-10 04:31:14.776688,2020,5,10,4,31,14,16274,early morning
konstantin,2020-05-10 04:31:41.164007,2020,5,10,4,31,41,16301,early morning

## sort values in your dataframe by hour, minute and second ascendingly

In [96]:
views.sort_values(['hour', 'minute', 'second'])

,datetime,year,month,day,hour,minute,second,hours_minutes_secs,daytime
user,,,,,,,,,
valentina,2020-05-15 00:00:13.222265,2020,5,15,0,0,13,13,night
valentina,2020-05-15 00:01:05.153738,2020,5,15,0,1,5,65,night
pavel,2020-05-12 00:01:27.764025,2020,5,12,0,1,27,87,night
pavel,2020-05-12 00:01:38.444917,2020,5,12,0,1,38,98,night
pavel,2020-05-12 00:01:55.395042,2020,5,12,0,1,55,115,night
...,...,...,...,...,...,...,...,...,...
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,85762,evening
anatoliy,2020-05-09 23:53:55.599821,2020,5,9,23,53,55,86035,evening
pavel,2020-05-09 23:54:54.260791,2020,5,9,23,54,54,86094,evening
valentina,2020-05-14 23:58:56.754866,2020,5,14,23,58,56,86336,evening
alexander,2020-05-14 23:59:38.758438,2020,5,14,23,59,38,86378,evening

## calculate the minimum, maximum for the hours and the mode for the daytime categories

In [97]:
# calculate the maximum of hour for the rows where the daytime is night
views.query('daytime == "night"')['hour'].max()

3

In [98]:
# calculate the minimum of hour for the rows where the daytime is morning
views.query('daytime == "morning"')['hour'].min()

8

In [99]:
# additionally to this, find out who visited the the page at those hours (one example out of it)
views.query('daytime == "night"')['hour'].idxmax()

'konstantin'

In [100]:
views['hour'].mode()

0    22
dtype: int64

In [101]:
views['daytime'].mode()

0    evening
Name: daytime, dtype: category
Categories (6, object): [night < early morning < morning < agternoon < early evening < evening]

## show the 3 smallest hours in the morning and the corresponding usernames and the 3 largest hours and the usernames using nsmallest() and nlargest()

In [102]:
views.query('daytime == "morning"').nsmallest(3, 'hour')

,datetime,year,month,day,hour,minute,second,hours_minutes_secs,daytime
user,,,,,,,,,
alexander,2020-05-15 08:16:03.918402,2020,5,15,8,16,3,29763,morning
alexander,2020-05-15 08:35:01.471463,2020,5,15,8,35,1,30901,morning
artem,2020-04-24 09:42:47.598208,2020,4,24,9,42,47,34967,morning

In [103]:
views.query('daytime == "morning"').nlargest(3, 'hour')

,datetime,year,month,day,hour,minute,second,hours_minutes_secs,daytime
user,,,,,,,,,
konstantin,2020-04-18 10:53:52.623447,2020,4,18,10,53,52,39232,morning
maxim,2020-04-18 10:56:55.833899,2020,4,18,10,56,55,39415,morning
konstantin,2020-04-18 10:57:37.331258,2020,4,18,10,57,37,39457,morning

## use the method describe() to get the basic statistics for the columns

In [104]:
views.describe()

,year,month,day,hour,minute,second,hours_minutes_secs
count,1076.0,1076.000000,1076.000000,1076.000000,1076.000000,1076.000000,1076.000000
mean,2020.0,4.870818,13.552974,16.249071,29.629182,29.500929,60303.906134
std,0.0,0.335557,4.906567,6.955490,17.689388,17.405506,25023.198258
min,2020.0,4.000000,1.000000,0.000000,0.000000,0.000000,13.000000
25%,2020.0,5.000000,11.000000,13.000000,14.000000,14.000000,49745.250000
50%,2020.0,5.000000,13.000000,19.000000,29.000000,30.000000,69584.000000
75%,2020.0,5.000000,15.000000,22.000000,46.000000,45.000000,79772.750000
max,2020.0,5.000000,30.000000,23.000000,59.000000,59.000000,86378.000000

In [148]:
iqr = views['hour'].describe().loc['75%'] - views['hour'].describe().loc['25%']

In [149]:
iqr

9.0

# Checklist

In [108]:
views.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1076 entries, artem to artem
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   datetime            1076 non-null   datetime64[ns]
 1   year                1076 non-null   int64
 2   month               1076 non-null   int64
 3   day                 1076 non-null   int64
 4   hour                1076 non-null   int64
 5   minute              1076 non-null   int64
 6   second              1076 non-null   int64
 7   hours_minutes_secs  1076 non-null   int64
 8   daytime             1076 non-null   category
dtypes: category(1), datetime64[ns](1), int64(7)
memory usage: 116.9+ KB