In [2]:
import pandas as pd
import sqlite3

## create a connection to the database using the library sqlite3

In [5]:
db_connection = sqlite3.connect('../data/checking-logs.sqlite')

## get the schema of the table pageviews using pd.io.sql.read_sql and the query "PRAGMA table_info(pageviews);"

In [7]:
pd.io.sql.read_sql('PRAGMA table_info(pageviews);', db_connection)

   cid      name       type  notnull dflt_value  pk
0    0     index    INTEGER        0       None   0
1    1       uid       TEXT        0       None   0
2    2  datetime  TIMESTAMP        0       None   0

## get only 10 first rows of the table pageviews to check how the table looks like

In [9]:
pd.io.sql.read_sql('select * from pageviews limit 10', db_connection)

   index      uid                    datetime
0      0  admin_1  2020-04-17 12:01:08.463179
1      1  admin_1  2020-04-17 12:01:23.743946
2      2  admin_3  2020-04-17 12:17:39.287778
3      3  admin_3  2020-04-17 12:17:40.001768
4      4  admin_1  2020-04-17 12:27:30.646665
5      5  admin_1  2020-04-17 12:35:44.884757
6      6  admin_1  2020-04-17 12:35:52.735016
7      7  admin_3  2020-04-17 12:36:21.401412
8      8  admin_3  2020-04-17 12:36:22.023355
9      9  admin_1  2020-04-17 13:55:19.129243

## get the subtable using only one query where:
- only uid and datetime are used
- only users’ data is used and not admins’ data
- it is sorted by uid ascendingly
- index column is datetime
- datetime is converted to DatetimeIndex
- the name of the dataframe is pageviews

In [10]:
query = '''
select
    uid,
    datetime
from pageviews
where
    uid not like "admin%"'''

In [15]:
pageviews = pd.io.sql.read_sql(query, db_connection, index_col='datetime', parse_dates=['datetime'])

In [16]:
pageviews.head()

                                uid
datetime
2020-04-17 22:46:26.785035  user_30
2020-04-18 10:53:52.623447  user_14
2020-04-18 10:56:55.833899  user_17
2020-04-18 10:57:37.331258  user_14
2020-04-18 12:05:48.200144  user_17

### close the connection to the database

In [17]:
db_connection.close()