In [1]:
import pandas as pd

## Read data

In [143]:
df = pd.read_csv('../data/auto.csv', index_col='ID')

## count the number of observations using method count()

In [144]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

## drop the duplicates taking into account the columns CarNumber, Make_n_model, Fines

In [145]:
cols_for_check = ['CarNumber', 'Make_n_model', 'Fines']

In [146]:
df = df.drop_duplicates(cols_for_check, 'last')

In [147]:
df.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

## work with missing values

In [148]:
df.isna().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

In [149]:
df = df.dropna(axis=1, thresh=500)

In [150]:
df['Refund'] = df['Refund'].fillna(method='pad')
df.isna().sum()

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

In [151]:
df['Fines'] = df['Fines'].fillna(df['Fines'].mean())
df.isna().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

## split and parse the make and model

In [180]:
tmp = pd.DataFrame(df['Make_n_model']\
                            .apply(lambda x: x.split()).to_list(), index=df.index)

In [181]:
df['Make'], df['Model'] = tmp[0], tmp[1]

In [186]:
df = df.drop('Make_n_model', axis=1)

In [187]:
df.head()

       CarNumber  Refund   Fines    Make  Model
ID
0   Y163O8161RUS     2.0  3200.0    Ford  Focus
1    E432XX77RUS     1.0  6500.0  Toyota  Camry
2    7184TT36RUS     1.0  2100.0    Ford  Focus
3   X582HE161RUS     2.0  2000.0    Ford  Focus
5   92918M178RUS     1.0  5700.0    Ford  Focus

In [190]:
df.to_json('../data/auto.json', orient='records')

# Checklist

In [191]:
df2 = pd.read_json('../data/auto.json', orient='records')

In [192]:
df.count()

CarNumber    725
Refund       725
Fines        725
Make         725
Model        716
dtype: int64